@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700&display=swap');

/* OUR BODY IS AND WILL BE */
body{
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(90deg, #6919FF 0%, #500ECA 100%);
  }

/* THREE BARS FOR NAVABR  */

.container {
    display: inline-block;
    cursor: pointer;
  }
  
  .bar1, .bar2, .bar3 {
    width: 25px;
    height: 2px;
    background-color: rgb(255, 255, 255);
    margin: 6px 0;
    transition: 0.4s;
  }
  
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-5px, -4px);
    transform: rotate(45deg) translate(-5px, -4px);
  }


  ::-webkit-scrollbar{
    width: 10px;
  }
  ::-webkit-scrollbar-thumb{

    background: #6919FF;
    border-radius: 2px;
  }

  ::-webkit-scrollbar-thumb:hover{
    background: #4410a5;
  }

  *{
    user-select: none;
  }